/*  Basic resets for modern browsers */
* {
  margin:0;
  padding:0;
  text-decoration:none;
  &:before, &:after {
    box-sizing: inherit;
  }
}

html {
  position: relative;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 10px;
  input[type=button] {
    cursor: pointer;
  }
  &.sidenav-open {
    overflow: hidden;
  }
  &.video-opened {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 0;
  margin: 0 auto;
  background: #1a1a1a;
  font: 400 17px/1.6 droid,Arial,sans-serif;
  color: #666;
  max-width: 1920px;
  position: relative;
  overflow-x: hidden;
  &.show-grid {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      opacity: .6;
      z-index: 6;
    }
  }
}

ul {
  list-style: none;
}

li { padding-left:1em; }

img {
  display: block;
  border: 0;
}

nav {
  display: block;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  line-height: normal;
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noFlex {
  flex: 0;
}

.scrollbar::-webkit-scrollbar-track
{
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar
{
	width: 3px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
