@import './utils/fonts.scss';

.case-article-wrapper {
  * {
    transition: all .1s ease-out;
  }
  padding-bottom: 15rem;
  .case-header {
    .masthead-item {
      .img-big {
        display: flex;
        justify-content: center;
        align-items: center;
        .image-overlay-text {
          position: absolute;
          white-space: pre-line;
          bottom: 200px;
          text-align: center;
          text-shadow: 6px 3px 20px #333;
          &.heading-02 {
            color: white;
          }
          &.header-shift-right {
              padding-right: 60px;
          }
        }
        img {
          &.over {
            right: 15px;
          }
        }
      }
      &.over {
        filter: opacity(0.7);
      }
    }
  }
  .case-study-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    .content {
      max-width: 820px;
      p {
        margin-top: 0;
        font: 400 1.8rem/1.6667 klavika, Arial, sans-serif;
      }
    }
    .case-name {
      text-align: center;
    }
  }
}
