@import './utils/fonts.scss';

.ReactModalPortal {
  .ReactModal__Overlay {
    z-index: 4;
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
    .closeButton {
      position: absolute;
      right: 20px;
      top: 20px;
      font-family: $font_3;
      font-size: 13px;
      white-space: pre-wrap;
      transform: rotate(90deg);
      text-transform: uppercase;
      cursor: pointer;
      i {
        font-weight: 400;
      }
    }
    .heading-02 {
      padding-top: 40px;
      font: normal 72px/.8 $font_1,Arial,sans-serif;
      text-align: center;
      letter-spacing: 8px;
      color: black;
    }
    .registration-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .submit-button {
        font-weight: 900;
        letter-spacing: normal;
        font-size: 21px;
        padding: 0 70px 2px
      }
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1;
        input {
          display: flex;
          flex: 1;
          margin: 6px;
          width: 100%;
          box-sizing: border-box;
          border: 3px solid #767676;
          padding: 30px;
          font-family: $font_1;
          font-size: 25px;
          text-transform: uppercase;
        }
        .contact-info {
          display: flex;
          width: 100%;
          flex: 1;
        }
      }
      .applicant-info {
        display: flex;
        justify-content: center;
        align-items: center;
        .form-group {
          margin: 3px;
        }
      }
      .big-margin-bottom {
        margin-bottom: 30px;
      }
    }
  }

  > div {
    opacity: 0;
  }
}
