@import './utils/colors.scss';
@import './utils/fonts.scss';
@import './utils/icons.scss';
@import './utils/medias.scss';
@import './utils/keyframes.scss';
@import './font/fontawesome/scss/font-awesome.scss';
@charset "UTF-8";

$border-animation-time: .15s;
$border-out-animation-time: $border-animation-time / 2;

.heading-02 {
    font: normal 72px/.8 klavika-bold,Arial,sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.heading-04 {
  text-transform: uppercase;
  font: 400 26px/1 klavika-light, Arial, sans-serif;
  color: $white;
  letter-spacing: 2px;
  margin: 0;
}

.block-squared-list {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  &:after {
    clear: both;
    display: table;
    content: "";
    line-height: 0;
  }
  &:before {
    display: table;
    content: "";
    line-height: 0;
  }
  &.inverted {
    border-color: $color_alto_approx;
  }
}
.visuallyhidden {
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}
legend {
  border: 0;
  padding: 0;
}

button[disabled] {
  cursor: default;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-nav {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  font-size: 0;
  z-index: 4;
  .main-menu {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0 10px 0 0;
    margin: 0 auto;
    background: $color_rangoon_green_approx;
    max-width: 1920px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
  }
  .scroll-menu {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    overflow: auto;
  }
  .main-side-nav {
    ::-webkit-scrollbar {
      width: 14px;
      width: 5px!important;
    }
    ::-webkit-scrollbar-thumb {
      background: $color_mine_shaft_approx;
    }
  }
  li {
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font: 400 18px/1 klavika, Arial, sans-serif;
    color: $color_storm_dust_approx;
    padding: 31px 22px 30px;
    transition: padding-right 150ms ease-out;
  }
  .small-nav {
    display: none;
  }
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color_storm_dust_approx;
    transition: color 150ms ease-out;
    &.active {
      color: $white;
    }
    &:hover {
      color: $white;
      .cls-3 {
        fill: $white;
      }
    }
  }
  .inverted .main-side-nav ::-webkit-scrollbar-thumb {
    background: $color_alto_approx;
  }
  &.sticky .main-menu {
    border-bottom-color: $color_mine_shaft_approx;
  }
}

.main-slider {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid $color_mine_shaft_approx;
  .items {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 478px;
    background: $color_rangoon_green_approx;
  }
  .nav {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 80px;
    text-align: right;
    font-size: 0;
    padding: 0 2px;
    li {
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      font: 400 18px/80px $font_1, $font_7, $font_8;
      color: $color_storm_dust_approx;
      padding: 0 28px;
    }
    a {
      transition: color 150ms ease-out;
    }
    .active {
      color: $white;
    }
  }
  .item {
    transform: translate3d(0, 0, 0);
    .content .headline {
      max-width: 1100px;
      padding-right: 120px;
    }
  }
}

.right-fly-in {
  position: fixed;
  right: -480px;
  top: 0;
  bottom: 0;
  width: 480px;
  background: $color_rangoon_green_approx;
  border-left: 1px solid $color_mine_shaft_approx;
  box-sizing: border-box;
  z-index: 6;
  .all-case-list {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow-y: auto;
    a {
      transition: all 150ms ease-out;
      &.active {
        color: $white;
        background-color: $color_log_cabin_approx;
      }
    }
  }
  .filter-list {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow-y: auto;
    a {
      transition: color 150ms ease-out;
      height: auto;
      font: 400 72px/60px $font_4, $font_7, $font_8;
      color: $color_mine_shaft_approx;
      text-transform: uppercase;
      padding-left: 60px;
      &.active {
        color: $white;
      }
    }
    li {
      border-bottom: 0;
      &:first-child {
        padding-top: 266px;
      }
    }
  }
  a {
    display: table-cell;
    height: 79px;
    width: 480px;
    vertical-align: middle;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .close-btn {
    position: absolute;
    left: -80px;
    top: 319px;
    cursor: pointer;
    padding: 0;
    width: 80px;
    height: 82px;
    line-height: 80px;
    text-align: center;
    background: $color_rangoon_green_approx;
    border: 1px solid $color_mine_shaft_approx;
    display: none;
  }
  li {
    display: block;
    border-bottom: 1px solid $color_mine_shaft_approx;
  }
  ::-webkit-scrollbar {
    width: 14px;
  }
  ::-webkit-scrollbar-thumb {
    background: $color_mine_shaft_approx;
  }
}

.tc-block {
  border-right: 1px solid $color_mine_shaft_approx;
  overflow: hidden;
  position: relative;
  float: left;
  height: 400px;
  border-bottom: 1px solid $color_mine_shaft_approx;
  padding: 19px 15px 0;
  width: 33.3333333333%;
  box-sizing: border-box;
  .tc-link-list {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 25px;
  }
  .office-details {
    font: 400 18px/28px $font_6, $font_7, $font_8;
    color: $white;
    margin: 0;
  }
  .heading-04 {
    margin-bottom: 40px;
  }
  .tc-link a {
    font: 400 18px/28px $font_6, $font_7, $font_8;
    color: $color_silver_chalice_approx;
    transition: color 150ms cubic-bezier(.25, .25, .75, .75);
    &:hover {
      color: $white;
    }
  }
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.ir {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.inverted {
  color: $color_rangoon_green_approx;
  .heading-02 {
    color: $color_rangoon_green_approx;
  }
  .heading-05 {
    color: $color_rangoon_green_approx;
  }
  .block-button {
    .bg {
      background-color: $color_rangoon_green_approx;
    }
    .text {
      font-family: $font_1, $font_7, $font_8;
      color: $color_storm_dust_approx!important;
    }
  }
  .block-squared-list {
    border-color: $color_alto_approx;
  }
  .block-item {
    .block-button {
      border-color: $color_alto_approx;
      color: $color_celeste_approx;
    }
    a {
      border-color: $color_alto_approx;
      color: $color_celeste_approx;
    }
  }
  .apply-form {
    border-top-color: $color_alto_approx;
    .inp-placeholder {
      font-family: $font_3, $font_7, $font_8;
      color: $color_mine_shaft_approx;
    }
    ::-webkit-input-placeholder {
      font-family: $font_3, $font_7, $font_8;
      color: $color_mine_shaft_approx;
    }
    :-moz-placeholder {
      font-family: $font_3, $font_7, $font_8;
      color: $color_mine_shaft_approx;
    }
    :-ms-placeholder {
      font-family: $font_3, $font_7, $font_8;
      color: $color_mine_shaft_approx;
    }
    :-o-placeholder {
      font-family: $font_3, $font_7, $font_8;
      color: $color_mine_shaft_approx;
    }
    :placeholder {
      font-family: $font_3, $font_7, $font_8;
      color: $color_mine_shaft_approx;
    }
    .input-row {
      border-top-color: $color_alto_approx;
    }
    .submit {
      border-top-color: $color_alto_approx;
    }
    label {
      color: $color_rangoon_green_approx;
    }
    button {
      background: $color_rangoon_green_approx;
      .text {
        color: $white;
      }
    }
    .attach-file {
      border-color: $color_alto_approx;
      color: $color_celeste_approx;
    }
    .input-wrapper ::-webkit-scrollbar-thumb {
      background: $color_alto_approx;
    }
  }
  .case-text .content h3 {
    color: $color_rangoon_green_approx;
  }
  .main-nav .main-side-nav ::-webkit-scrollbar-thumb {
    background: $color_alto_approx;
  }
  .right-fly-in ::-webkit-scrollbar-thumb {
    background: $color_alto_approx;
  }
}

.heading-05 {
  font: 400 22px/1.8 klavika-medium, Arial, sans-serif;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.heading-italic {
  font-family: $font_11, $font_7, $font_8;
  text-transform: none;
  letter-spacing: 0;
}

.section-heading {
  padding: 108px 60px 75px;
  &.low-padding-top {
    padding-top: 28px;
  }
  &.double-padding-top {
    padding-top: 188px;
  }
}

.copy-01 {
  font: 400 18px/2 droid, Arial, sans-serif;
  color: $color_storm_dust_approx;
  margin: 0;
  b {
    color: $color_mine_shaft_approx;
    font-family: $font_12, $font_7, $font_8;
    font-weight: 400;
  }
  strong {
    color: $color_mine_shaft_approx;
    font-family: $font_12, $font_7, $font_8;
    font-weight: 400;
  }
}

.copy-02 {
  font: 400 17px/2 droid, Arial, sans-serif;
  color: $color_storm_dust_approx;
  margin: 0;
  b {
    color: $color_mine_shaft_approx;
    font-family: $font_12, $font_7, $font_8;
    font-weight: 400;
  }
  strong {
    color: $color_mine_shaft_approx;
    font-family: $font_12, $font_7, $font_8;
    font-weight: 400;
  }
}

.copy-03 {
  font: 400 21px/1.6667 $font_7, Arial, sans-serif;
  color: $color_storm_dust_approx;
  white-space: pre-line;
  margin: 0;
  b {
    color: $color_mine_shaft_approx;
    font-family: $font_12, $font_7, $font_8;
    font-weight: 400;
  }
  strong {
    color: $color_mine_shaft_approx;
    font-family: $font_12, $font_7, $font_8;
    font-weight: 400;
  }
}

.copy-linecomp-01 {
  line-height: 1.6667;
}
.copy-linecomp-02 {
  line-height: 1.555;
}
.copy-italic {
  font-family: $font_6, $font_7, $font_8;
}
.copy-lightertext {
  color: $color_mountain_mist_approx;
}
.copy-lighttext {
  color: $color_celeste_approx;
}
.copy-inverted {
  color: $white;
}
[class*=" icon-"] {
  font-family: $font_0;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
[class^=icon-] {
  font-family: $font_0;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.csstransitions {
  .banner-fwa {
    right: -36px;
    top: 8px;
    height: 35px;
    width: 156px;
    background: $color_rangoon_green_approx;
    transform: rotate(45deg);
    .icon-fwa-rotated {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px 0 0 -20px;
      transform: rotate(-45deg);
    }
  }
  .culture-block .cover-image img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .logo-hidden .main-logo {
    top: -118px;
  }
}

.small-nav-items {
  display: none;
}

.component-videos-grid {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  .grid__row {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
    &.grid__row--with-border {
      border-top: 1px solid $color_mine_shaft_approx;
      &:last-child {
        border-bottom: 1px solid $color_mine_shaft_approx;
      }
    }
  }
  .grid__background {
    position: absolute;
    width: 100%;
    height: calc(100% / 1.5);
    z-index: 0;
    background-size: cover;
    background-position: center center;
    .grid__cell {
      background: $color_rangoon_green_approx;
      opacity: 0;
    }
  }
  .grid__foreground {
    position: absolute;
    width: 100%;
    height: calc(100% / 1.5);
    z-index: 2;
    opacity: 1;
  }
  .grid__title {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    h1 {
      padding: 10px 0;
      position: relative;
    }
  }
  .grid__viewport {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
  .grid__mask {
    overflow: hidden;
  }
  .grid__cell {
    width: calc(100% / 3);
    height: calc(100vw / 6);
    box-sizing: border-box;
    float: left;
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-out;
    &.grid__cell--with-border {
      border-left: 1px solid $color_mine_shaft_approx;
      background-size: cover;
      background-position: center center;
    }
    .left {
      animation: leftline-reverse $border-out-animation-time;
    }
    .bottom {
      animation: bottomline-reverse $border-out-animation-time $border-out-animation-time / 2 linear;
    }
    .right {
      animation: rightline-reverse $border-out-animation-time $border-out-animation-time linear;
    }
    .top {
      animation: topline-reverse $border-out-animation-time * 2 3 * $border-out-animation-time / 2 ease-out;
    }
    .flicker {
      animation: flick-reverse $border-animation-time * 3.5 ease-in-out;
    }

    &:hover {
      .top {
        animation: topline 2.25 * $border-animation-time linear;
      }
      .right {
        animation: rightline $border-animation-time $border-animation-time / 2 linear;
      }
      .bottom {
        animation: bottomline $border-animation-time $border-animation-time linear;
      }
      .left {
        animation: leftline $border-animation-time * 2 3 * $border-animation-time / 2 ease-out;
      }
      .flicker {
        animation: flick $border-animation-time * 1.5 linear;
        opacity: 0;
      }
    }
  }
  .cell__image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
  .cell__number {
    font-size: .625vw;
    position: relative;
  }
  .cell__line {
    position: absolute;
    height: calc(100% - 42px);
    width: calc(100% - 19px);
    margin: 31px 0 0 10px;
    top: 0;
    left: 0;
    .x {
      position: absolute;
      background-color: $white;
      height: 1px;
      width: 0;
    }
    .y {
      position: absolute;
      background-color: $white;
      height: 0;
      width: 1px;
    }
    .top {
      width: 15px;
      top: 0;
      left: 0;
    }
    .right {
      right: 0;
      top: 0;
    }
    .bottom {
      right: 0;
      bottom: 0;
    }
    .left {
      left: 0;
      bottom: 0;
    }
  }
  .cell__title {
    font-size: .78vw;
    margin-top: 8px;
    position: relative;
  }
  .cell__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    font-size: 14vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cell__diagonal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    line {
      stroke: $color_mine_shaft_approx;
      stroke-width: 1px;
    }
  }
  .cell__border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px 15px;
    rect {
      stroke: $white;
      fill: transparent;
      stroke-width: 1px;
      stroke-dasharray: 400%;
      stroke-dashoffset: 400%;
    }
  }
}

.page-transition {
  .view-index {
    overflow: hidden;
  }
  .main-footer {
    visibility: hidden;
  }
}
.main-content {
  display: none;
}
.site-mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black;
  opacity: .5;
  z-index: 4;
}
.dev-bar {
  position: absolute;
  opacity: .8;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: $color_mine_shaft_approx;
  cursor: pointer;
  background-color: $color_beeswax_approx;
  border-bottom: 1px solid $color_hampton_approx;
  z-index: 7;
  .btn-close {
    position: absolute;
    margin-top: -15px;
    right: 10px;
    top: 50%;
  }
}

.main-footer {
  padding-top: 100px;
  .copyright-copy {
    margin: 0;
    padding: 18px 20px;
    font-size: 1.4rem;
    line-height: 1;
  }
}
.main-header {
  height: 10vh;
  .grid-logo-container {
    float: left;
    width: 160px;
    overflow: hidden;
    transition: width .3s ease-out;
    position: relative;
    &.hide {
      transition: width .2s ease-in;
      width: 0;
    }
  }
  .close-project {
    margin: 20px;
  }
  .toggle-menu {
    width: 46px;
    padding: 28px 54px 28px 60px;
    cursor: pointer;
    margin-right: 10px;
    > div {
      display: block;
      font-size: 0;
      transition: all 250ms ease-in;
      span {
        height: 9px;
        width: 9px;
        border: 2px solid $color_mine_shaft_approx;
        display: inline-block;
        transition: all 250ms ease-in;
        &:not(:last-child) {
          border-right: 0;
        }
      }
      &:first-child span {
        border-bottom: none;
      }
    }
    &:hover > div span {
      border-color: $white;
    }
  }
}

.main-logo {
  position: absolute;
  right: 23px;
  top: 0;
  margin: 0;
  height: 128px;
  cursor: pointer;
  transition: top .2s ease-in-out;
  z-index: 3;
  &.mobile {
    display: none;
  }
  .svg-logo-films {
    height: 128px;
    width: 128px;
    fill: $white;
    margin-top: -5px;
  }
  .svg-logo-games {
    height: 128px;
    width: 128px;
    fill: $white;
    margin-top: -5px;
  }
  .svg-logo-mm {
    height: 100px;
    width: 300px;
    fill: $white;
    margin-top: -5px;
  }
}

svg:not(:root) {
  overflow: hidden;
}

.main-nav ul {
  transition: border-bottom-color 150ms ease-out;
}

.static-page .case-intro {
  padding-top: 120px;
}

.block-item {
  height: 79px;
  width: 80px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  &.item-text {
    width: auto;
  }
  .block-button {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-color: $color_mine_shaft_approx;
    border-left-width: 1px;
    border-left-style: solid;
    font-size: 24px;
    line-height: 80px;
    color: $color_gravel_approx;
    text-decoration: none;
  }
  a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-color: $color_mine_shaft_approx;
    border-left-width: 1px;
    border-left-style: solid;
    font-size: 24px;
    line-height: 80px;
    color: $color_gravel_approx;
    text-decoration: none;
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .block-button {
    .submit-button {
      font-weight: 900;
      letter-spacing: normal;
      font-size: 21px;
      padding: 0 70px 2px
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    input, select {
      display: flex;
      flex: 1;
      margin: 6px;
      width: 100%;
      box-sizing: border-box;
      border: 3px solid #767676;
      padding: 30px;
      font-family: $font_1;
      font-size: 25px;
      text-transform: uppercase;
      outline: none;
    }
    select {
      height: 96px;
      background-color: white;
    }
    .select-field {
      border: 3px solid #1a1a1a;
      font-family: $font_3;
    }
    .contact-info {
      display: flex;
      width: 100%;
      flex: 1;
    }
  }
  .applicant-info {
    display: flex;
    justify-content: center;
    align-items: center;
    .form-group {
      margin: 3px;
    }
  }
  .big-margin-bottom {
    margin-bottom: 30px;
  }
}

.block-button {
  position: relative;
  display: inline-block;
  height: 80px;
  box-sizing: border-box;
  .text {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    padding: 0 32px 2px;
    font: 400 18px/.8 klavika-bold, Arial, sans-serif;
    color: $white;
    white-space: nowrap;
    box-sizing: border-box;
    &.text-regular {
      font-family: $font_1, $font_7, $font_8;
      .text-change {
        display: block;
        padding-top: 12px;
        font-style: normal;
        font-family: $font_5, $font_7, $font_8;
        font-size: 15px;
        color: $color_mountain_mist_approx;
        text-transform: capitalize;
        letter-spacing: 0;
      }
    }
  }
  .bg {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    display: block;
    background-color: $white;
    visibility: hidden;
    transition: all 50ms ease-in-out;
    opacity: .5;
    &.bg-fb {
      background-color: $color_azure_approx;
    }
    &.bg-tw {
      background-color: $color_scooter_approx;
    }
    &.bg-inst {
      background-color: $color_kashmir_blue_approx;
    }
    &.bg-vm {
      background-color: $color_bittersweet_approx;
    }
  }
  .icn {
    position: relative;
    transition: color .1s ease-out;
  }
  &.text-bordered {
    border: 2px solid $white;
  }
  &.text-filled {
    background: $color_rangoon_green_approx;
    .text {
      color: $white;
    }
  }
}
