//colors
$color_bunker_approx: #151515;
$white: #fff;
$color_rangoon_green_approx: #1a1a1a;
$color_alto_approx: #d9d9d9;
$color_celeste_approx: #ccc;
$color_log_cabin_approx: #222;
$color_storm_dust_approx: #666;
$gray: grey;
$color_shark_approx: #262626;
$color_mine_shaft_approx: #333;
$color_tapa_approx: #767676;
$color_woodsmoke_approx: #0e0e0e;
$color_hunter_green_approx: #161616;
$yellow: #ff0;
$black: #000;
$silver:  silver;
$color_mountain_mist_approx: #999;
$color_azure_approx: #3a5b9a;
$color_scooter_approx: #28aae1;
$color_kashmir_blue_approx: #427197;
$color_bittersweet_approx: #f66;
$color_gravel_approx: #484848;
$color_red_orange_approx: #f33;
$color_silver_chalice_approx: #afafaf;
$color_beeswax_approx: #fff4c8;
$color_hampton_approx: #e2d7ae;
$red: red;
