$font_0: icomoon;
$font_1: klavika;
$font_2: klavika-light;
$font_3: klavika-medium;
$font_4: klavika-bold;
$font_5: droid;
$font_6: droid-italic;
$font_7: Arial;
$font_8: sans-serif;
$font_9: monospace;
$font_10: serif;
$font_11: klavika-italic;
$font_12: droid-bold;
