.icon-logo-mm-games:before {
  content: "\e60d";
}
.icon-logo-mm:before {
  content: "\e604";
}
.icon-fwa-rotated:before {
  content: "\e605";
}
.icon-mobile-nav:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e601";
}
.icon-arrow-left:before {
  content: "\e606";
}
.icon-cross:before {
  content: "\e607";
}
.icon-pin:before {
  content: "\e608";
}
.icon-attachment:before {
  content: "\e609";
}
.icon-instagram:before {
  content: "\e60a";
}
.icon-logo-mm-films:before {
  content: "\e60b";
}
.icon-vimeo:before {
  content: "\e60c";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e603";
}
