@keyframes topline {
  0% {
    width: 15px;
    margin-left: 0;
  }
  22% {
    width: 100%;
    margin-left: 0;
  }
  44% {
    width: 0;
    margin-left: 100%;
  }
  99% {
    width: 0;
    margin-left: 0;
  }
  100% {
    width: 15px;
    margin-left: 0;
  }
}

@keyframes rightline {
  0% {
    height: 0;
    margin-top: 0;
  }
  50% {
    height: 100%;
    margin-top: 0;
  }
  100% {
    height: 0;
    margin-top: 25%;
  }
}

@keyframes bottomline {
  0% {
    width: 0;
    margin-right: 0;
  }
  50% {
    width: 100%;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100%;
  }
}

@keyframes leftline {
  0% {
    height: 0;
    margin-bottom: 0;
  }
  50% {
    height: 100%;
    margin-bottom: 0;
  }
  100% {
    height: 0;
    margin-bottom: 25%;
  }
}

@keyframes flick {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes topline-reverse {
  100% {
    width: 15px;
    margin-left: 0;
  }
  50% {
    width: 100%;
    margin-left: 0;
  }
  0% {
    width: 0;
    margin-left: 100%;
  }
}

@keyframes rightline-reverse {
  100% {
    height: 0;
    margin-top: 0;
  }
  50% {
    height: 100%;
    margin-top: 0;
  }
  0% {
    height: 0;
    margin-top: 25%;
  }
}

@keyframes bottomline-reverse {
  100% {
    width: 0;
    margin-right: 0;
  }
  50% {
    width: 100%;
    margin-right: 0;
  }
  0% {
    width: 0;
    margin-right: 100%;
  }
}

@keyframes leftline-reverse {
  100% {
    height: 0;
    margin-bottom: 0;
  }
  50% {
    height: 100%;
    margin-bottom: 0;
  }
  0% {
    height: 0;
    margin-bottom: 25%;
  }
}

@keyframes flick-reverse {
  0% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
